DEBUG=1
SECRET_KEY=django-insecure-fcn-ti-dev-key
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DB_HOST=db
DB_PORT=5432
DB_NAME=fcn_ti_db
DB_USER=fcn_admin
DB_PASS=fcn_password
